<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         cacheResult="false"
         colors="true"
         failOnWarning="true"
         executionOrder="default"
         resolveDependencies="true"
         cacheDirectory="./var/phpunit">
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./web/modules/custom/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory suffix="Test.php">./web/modules/custom/*/tests/src/Kernel</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./web/modules/custom/*</directory>
    </include>
  </source>
</phpunit>
